.main {
  background-color: #151515;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  /* font-family: Fredoka One, cursive; */
  padding-top: 2rem;
}

.container {
}

.wrraper {
}

.box {
  display: flex;
  justify-content: center;
}

.element {
}
